---
import { sanityClient } from 'sanity:client'
import { Image } from 'astro:assets'
import { getImageDimensions } from '@sanity/asset-utils'
import { urlForImage } from '../sanity/urlForImage'

const siteData = await sanityClient.fetch(`
  *[_type == 'siteSettings']{
    'image': image.asset,
    'alt': image.alt
  }[0]
`)
const { image } = siteData

import Layout from '../components/Layout.astro'
---

<Layout title='Homepage' description='This is a homepage'>
  <div class='wrapper'>
    <h1>Hello world</h1>
    <Image
      src={urlForImage(image).url()}
      alt='Image'
      width={getImageDimensions(image).width}
      height={getImageDimensions(image).height}
      widths={[420, 720, 1440, getImageDimensions(image).width]}
      sizes={`(max-width: 420px) 420px, (max-width: 720px) 720px, (max-width: 1600px) 1440px, ${
        getImageDimensions(image).width
      }px`}
      class='hero-img'
    />
    <!-- <Image
      src={urlForImage(image).url()}
      alt='Image'
      width={getImageDimensions(image).width}
      height={getImageDimensions(image).height}
      quality={96}
      sizes='100vw'
      class='hero-img'
    /> -->
  </div>
</Layout>
