---
import { Image } from 'astro:assets'
import { timeSince } from '../utils/utitlities'
import Hero from '../components/Hero.astro'
import Layout from '../components/Layout.astro'
import ArrowIco from '../images/ico-button.svg'
import Location from '../images/ico-location.svg'
import '../css/jobspage.scss'

const options = {
  method: 'GET',
  headers: {
    accept: 'application/json',
    authorization:
      'Bearer 975a4fdc824c1eedd3f7317a0f80abb06a538cb752a676ec26c40af2d80c1e7e9b46493d6b3d6d9514eb06666f7f80e819eae31827b91e7eea03b21a7309eedeef07f34fa9979887889f56fb39fe7bff603fc7d97054c99a1c6c366fee3fd37d6cf8cf8f76798c675a23bc4ee00e1155dfdf8daebcf3303e7b3d54c29b57647f'
  }
}
const res = await fetch(
  'https://app.loxo.co/api/martinsen-mayer/jobs?published_at_sort=desc&published=true&status=active',
  options
)
  .then((response) => response.json())
  .catch((err) => console.error(err))
const allJobs = res.results
// console.log(allJobs[0])
---

<Layout title='Needl.io | Latest jobs'>
  <Hero
    heroContent={{
      title: 'Jobs',
      para: 'Discover a world of career opportunities that can propel you to success while working with the industry’s leading experts.'
    }}
  />

  <section class='jobs-main-sec sec-padding'>
    <div class='wrapper-2'>
      <div class='jobs-main-contain main-grid'>
        <div class='left-part'>
          <span class='sec-tag'>Current openings</span>
          <!-- <div class='all-filters'>
            <span class='filter active' data-type='all'>All jobs</span>
            <span class='filter' data-type='article'>Full time</span>
            <span class='filter' data-type='podcast'>Part time</span>
            <span class='filter' data-type='event'>Remote</span>
          </div> -->
        </div>
        <div class='jobs-main-content'>
          <div class='all-jobs'>
            {
              allJobs.map((job) => (
                <a href={job.public_url} target='_blank' class='job-card'>
                  <h3 class='h3-small'>{job.title}</h3>
                  <div class='job-points'>
                    {!job.company_hidden && (
                      <p class='job-tag'>{job.company.name}</p>
                    )}
                    {(job.address || job.macro_address) && (
                      <p class='job-tag'>
                        <Image
                          src={Location}
                          alt='Location'
                          width={Location.width}
                          height={Location.height}
                        />
                        {job.address}
                        {job.macro_address}
                      </p>
                    )}
                    {job.category?.name && (
                      <p class='job-tag'>{job.category?.name}</p>
                    )}
                    <p class='job-tag'>{job.job_type.name}</p>
                    {job.salary && <p class='job-tag'>{job.salary}</p>}
                    {job.remote_work_allowed && (
                      <p class='job-tag'>
                        {job.remote_work_allowed ? 'Remote' : ''}
                      </p>
                    )}
                    <p class='posted'>{timeSince(job.published_at)}</p>
                  </div>

                  <div class='arrow-ico'>
                    <Image
                      src={ArrowIco}
                      alt='Arrow'
                      width={ArrowIco.width}
                      height={ArrowIco.height}
                      class='button-ico'
                    />
                  </div>
                </a>
              ))
            }
          </div>
          <!-- <div class='all-jobs'>
            {
              allJobs.map((job) => (
                <a href={job.public_url} target='_blank' class='job-card'>
                  {validateText(job.company.logo_thumb_url) && (
                    <div class='logo'>
                      <img
                        src={job.company.logo_thumb_url}
                        alt={job.company.name}
                      />
                    </div>
                  )}
                  <div class='job-card-data'>
                    <h3 class='h3-small'>{job.title}</h3>
                    <p class='company'>{job.company.name}</p>
                    <p class='company'>{job.job_type.name}</p>
                    <p class='company'>{job.salary}</p>
                  </div>
                </a>
              ))
            }
          </div> -->
        </div>
      </div>
    </div>
  </section>
</Layout>
