---
import { Image } from 'astro:assets'
import { getImageDimensions } from '@sanity/asset-utils'
import { urlForImage } from '../../utils/urlForImage'
import IcoBio from '../../images/ico-info.svg'
import IcoMail from '../../images/ico-mail.svg'
import IcoPhone from '../../images/ico-phone.svg'
import IcoLink from '../../images/ico-linkedin.svg'

const { member, customClass, serial } = Astro.props
console.log(member)
---

<div class={`member-card ${customClass ? customClass : ''}`} `>
  <div class='pic'>
    <img
      src={urlForImage(member.pic).url()}
      alt={member.name}
      width={getImageDimensions(member.pic).width}
      height={getImageDimensions(member.pic).height}
      loading='lazy'
      class='member-pic'
    />
    <div class='bio-btn' title='Bio' data-serial={serial}>
      <Image
        src={IcoBio}
        alt='Bio'
        width={IcoBio.width}
        height={IcoBio.height}
      />
    </div>
  </div>
  <h3 class='name'>{member.name}</h3>
  <span class='desig'>{member.occu}</span>
  <div class='socials'>
    {
      member.socials?.email && (
        <a href={`mailto:${member.socials?.email}`}>
          <Image
            src={IcoMail}
            alt='Email'
            width={IcoMail.width}
            height={IcoMail.height}
          />
        </a>
      )
    }
    {
      member.socials?.phone && (
        <a href={`tel:${member.socials?.phone}`}>
          <Image
            src={IcoPhone}
            alt='Phone'
            width={IcoPhone.width}
            height={IcoPhone.height}
          />
        </a>
      )
    }
    {
      member.socials?.linkedIn && (
        <a href={member.socials.linkedIn} target='_blank'>
          <Image
            src={IcoLink}
            alt='LinkedIn'
            width={IcoLink.width}
            height={IcoLink.height}
          />
        </a>
      )
    }
  </div>
  {
    member.socials?.calendly && (
      <a href={member.socials.calendly} target='_blank' class='book-button'>
        Book a Call
      </a>
    )
  }
</div>
