---
import { sanityClient } from 'sanity:client'

const settings = await sanityClient.fetch(`
  *[_type == 'siteSettings']{
    contact,
    addresses[] {
      name,
      address
    },
    socials[]{
      name,
      url
    }
  }[0]
`)
const { contact, addresses, socials } = settings

import { Image } from 'astro:assets'
import Logo from '../images/needl-logo-black.svg'
---

<footer class='footer'>
  <div class='wrapper'>
    <div class='footer-main main-grid'>
      <a href='/' class='logo'>
        <Image src={Logo} alt='Needl.io logo' />
      </a>

      <div class='footer-content'>
        <div class='footer-link-group footer-group-1'>
          <span class='link-group-tag'>Needl.io</span>
          <a href='/#why-needl'>Why Needl</a>
          <a href='/#what-we-do'>What we do</a>
          <a href='/#team'>Meet the team</a>
          <a href='/#reviews'>Our clients</a>
        </div>
        <div class='footer-link-group footer-group-2'>
          <span class='link-group-tag'>Social</span>
          {
            socials.map((link, i) => (
              <a href={link.url} target='_blank'>
                {link.name}
              </a>
            ))
          }
        </div>
        <div class='footer-link-addresses footer-group-3'>
          {
            addresses.map((add, i) => (
              <div class='footer-link-address'>
                <span class='link-group-tag'>{add.name}</span>
                <p>{add.address}</p>
              </div>
            ))
          }
        </div>
      </div>
    </div>

    <div class='footer-bottom main-grid'>
      <p class='copyright'>
        &copy; Needl.io {new Date().getFullYear()}
      </p>

      {
        /* <div class="footer-content">
        <Link href="/privacy">Privacy policy</Link>
      </div> */
      }
    </div>
  </div>
</footer>
